DSA 2023 Summer School Admittance Check

Immanuel Mbugua Kimani 
ikimani@kabarak.ac.ke

Question 1: Write a Python function to return a tuple of primes and non primes given an integer input

In [156]:
def sieve(num):
    primes = []
    non_primes = []
    for n in range(2, num+1):
        is_prime = True
        for i in range(2, int(n**0.5)+1):
            if n % i == 0:
                is_prime = False
                non_primes.append(n)
                break
        if is_prime:
            primes.append(n)
    return (tuple(primes), tuple(non_primes))

num = 30
print("Following are the prime and non prime numbers smaller than or equal to", num)
print(sieve(num))

Following are the prime and non prime numbers smaller than or equal to 30
((2, 3, 5, 7, 11, 13, 17, 19, 23, 29), (4, 6, 8, 9, 10, 12, 14, 15, 16, 18, 20, 21, 22, 24, 25, 26, 27, 28, 30))

Question 2: Create a dictionary to store the type and number of unique characters in the paragraph provided

In [157]:
from collections import defaultdict

def count_chars(paragraph):
    freq = defaultdict(int)
    for char in paragraph:
        freq[char] += 1
    return freq

paragraph = "The following is sample text I used to practice special characters using keybr.com: 112233445566778899 Saturn V rocket’s first stage carries 203,400 gallons (770,000 liters) of kerosene fuel and 318,000 gallons (1.2 million liters) of liquid oxygen needed for combustion. At liftoff, the stage’s five F-1 rocket engines ignite and produce 7.5 million pounds of thrust. To replace those goofy quantities with the far less retarded metric system (even though liters are considered part of the metric system they are the same as cubic deci-meters) you would say 770 cubic meters of kerosene {abbreviated as m3} and 1,204 m3 of liquid O2 [O2 is the symbol for oxygen]. We would also say it produced 33,600,000 newtons of force <abbreviated as N>. To add scientific notation {a way of writing numbers that allows you to write only as many digits `of specificity` as you would like} you can write 7.7 * 10 ^ 2 m3 of kerosene 1.204 * 10 ^ 3 m3 of O2 and 3.3 * 10 ^ 7 newtons. Another way to write scientific notation is to replace the “* 10 ^” with ‘E’ -/capital e\-. So our numbers would look like:s"

freq = count_chars(paragraph)
print(freq)

defaultdict(<class 'int'>, {'T': 3, 'h': 17, 'e': 89, ' ': 192, 'f': 26, 'o': 68, 'l': 35, 'w': 16, 'i': 60, 'n': 42, 'g': 14, 's': 57, 'a': 48, 'm': 20, 'p': 11, 't': 65, 'x': 3, 'I': 1, 'u': 26, 'd': 27, 'r': 45, 'c': 31, 'k': 9, 'y': 19, 'b': 11, '.': 12, ':': 2, '1': 11, '2': 10, '3': 13, '4': 5, '5': 3, '6': 3, '7': 10, '8': 3, '9': 2, 'S': 2, 'V': 1, '’': 3, '0': 22, ',': 7, '(': 3, ')': 3, 'q': 3, 'A': 2, 'v': 4, 'F': 1, '-': 4, '{': 2, '}': 2, 'O': 3, '[': 1, ']': 1, 'W': 1, '<': 1, 'N': 1, '>': 1, '`': 2, '*': 4, '^': 4, '“': 1, '”': 1, '‘': 1, 'E': 1, '/': 1, '\\': 1})

Question 3: Extract the values from the dictionary above into a list

In [158]:
freq = count_chars(paragraph)
values_list = list(freq.values())
print(values_list)

[3, 17, 89, 192, 26, 68, 35, 16, 60, 42, 14, 57, 48, 20, 11, 65, 3, 1, 26, 27, 45, 31, 9, 19, 11, 12, 2, 11, 10, 13, 5, 3, 3, 10, 3, 2, 2, 1, 3, 22, 7, 3, 3, 3, 2, 4, 1, 4, 2, 2, 3, 1, 1, 1, 1, 1, 1, 2, 4, 4, 1, 1, 1, 1, 1, 1]

Question 4: Extract the keys from the dictionary above into a list

In [159]:
freq = count_chars(paragraph)
keys_list = list(freq.keys())
print(keys_list)

['T', 'h', 'e', ' ', 'f', 'o', 'l', 'w', 'i', 'n', 'g', 's', 'a', 'm', 'p', 't', 'x', 'I', 'u', 'd', 'r', 'c', 'k', 'y', 'b', '.', ':', '1', '2', '3', '4', '5', '6', '7', '8', '9', 'S', 'V', '’', '0', ',', '(', ')', 'q', 'A', 'v', 'F', '-', '{', '}', 'O', '[', ']', 'W', '<', 'N', '>', '`', '*', '^', '“', '”', '‘', 'E', '/', '\\']

Question 5: Merge the two lists into a tuple

In [160]:
freq = count_chars(paragraph)
items_list = list(freq.items())
print(items_list)

[('T', 3), ('h', 17), ('e', 89), (' ', 192), ('f', 26), ('o', 68), ('l', 35), ('w', 16), ('i', 60), ('n', 42), ('g', 14), ('s', 57), ('a', 48), ('m', 20), ('p', 11), ('t', 65), ('x', 3), ('I', 1), ('u', 26), ('d', 27), ('r', 45), ('c', 31), ('k', 9), ('y', 19), ('b', 11), ('.', 12), (':', 2), ('1', 11), ('2', 10), ('3', 13), ('4', 5), ('5', 3), ('6', 3), ('7', 10), ('8', 3), ('9', 2), ('S', 2), ('V', 1), ('’', 3), ('0', 22), (',', 7), ('(', 3), (')', 3), ('q', 3), ('A', 2), ('v', 4), ('F', 1), ('-', 4), ('{', 2), ('}', 2), ('O', 3), ('[', 1), (']', 1), ('W', 1), ('<', 1), ('N', 1), ('>', 1), ('`', 2), ('*', 4), ('^', 4), ('“', 1), ('”', 1), ('‘', 1), ('E', 1), ('/', 1), ('\\', 1)]

Question 6: Write a function greatest_common_divisor that takes two inputs a and b and returns the greatest common divisor of the two numbers. E.g. input (10, 15) would return 5

In [161]:
def greatest_common_divisor(a, b):

    if a == 0:
        return b
    elif b == 0:
        return a

    p = 0
    while ((a | b) & 1) == 0:
        a >>= 1
        b >>= 1
        p += 1
    
    while (a & 1) == 0:
        a >>= 1
    
    while b != 0:
        while (b & 1) == 0:
            b >>= 1
        if a > b:
            a, b = b, a
        b -= a
    
    return a << p

print(greatest_common_divisor(12, 17))
print(greatest_common_divisor(4, 6))
print(greatest_common_divisor(336, 360))

1
2
24

Question 7: Write a function get_nearest_farthest that takes in a point of interest (pt) and a list of points and returns the nearest point and the farthest point from the point of intest.

In [162]:
import math

def get_nearest_farthest(pt, points):

    sorted_points = sorted(points, key=lambda p: math.sqrt((p[0]-pt[0])**2 + (p[1]-pt[1])**2))
    return sorted_points[0], sorted_points[-1]

print(get_nearest_farthest((3, 8), [(9, 3), (8,5), (7,6)]))
print(get_nearest_farthest((12,2), [(5,9), (9,1), (2,4), (13,9), (10,12)]))

((7, 6), (9, 3))
((9, 1), (10, 12))

Question 8: Write a function perfectly_divisible to return a list of numbers between 0 and a number  N  that are perfectly divisible by  q  (with out leaving a remainder).
Hint:  N  should also be inclusive in the numbers being considered. If N is negative use N == 20

In [163]:
def perfectly_divisible(N, q):

#Returns a list of numbers between 0 and N that are perfectly divisible by q.
    divisible_numbers = list(range(0, N+1, q))
    return divisible_numbers

print(perfectly_divisible(10,2))

[0, 2, 4, 6, 8, 10]

Question 9: Write a function flatten_lists that takes in a list of lists and outputs a sorted list of elements of sublists of the input list (confusing right?)
Example: given flatten_lists([[2,13,44], [6,7]]) it should return [2,6,7,13,44]

In [164]:
def flatten_lists(lists):

    #Returns a sorted list of elements of sublists of the input list.

    flat_list = []
    for sublist in lists:
        for element in sublist:
            flat_list.append(element)
    return sorted(flat_list)


print(flatten_lists([[2,13,44], [6,7]]))
print(flatten_lists([[3,2,1,5], [8,9], [5,4,4,6]]))

[2, 6, 7, 13, 44]
[1, 2, 3, 4, 4, 5, 5, 6, 8, 9]

The Extra Mile!

Download the dataset "Nakuru Sensor Data for February 2023 from https://open.africa/dataset/sensorsafrica-airquality-archive-nakuru/resource/14165682-37dd-4f40-914e-eb24619e4ef8"

Load the 'timestamp','value_type' and 'value' collumns into a pandas dataframe

In [165]:
import pandas as pd

load the nakuru dataset into a pandas data frame

In [166]:
df = pd.read_csv('february_2023_sensor.csv')
print(df.head(n=1))

  sensor_id;sensor_type;location;lat;lon;timestamp;value_type;value
0  145;DHT22;3528;-0.286;36.067;2023-02-04T04:22:...

view the columns

In [167]:
print(df.columns)

Index(['sensor_id;sensor_type;location;lat;lon;timestamp;value_type;value'], dtype='object')

In [168]:
print(df.columns.tolist())

['sensor_id;sensor_type;location;lat;lon;timestamp;value_type;value']

split the column into different columns

In [169]:
column_split = df['sensor_id;sensor_type;location;lat;lon;timestamp;value_type;value'].str.split(pat=';',expand=True)
column_split.columns = ['sensor_id','sensor_type','location','lat','lon','timestamp','value_type','value']

In [170]:
df=pd.concat([df,column_split],axis=1)

In [171]:
df = df.drop('sensor_id;sensor_type;location;lat;lon;timestamp;value_type;value',axis=1)

In [172]:
df.columns

Index(['sensor_id', 'sensor_type', 'location', 'lat', 'lon', 'timestamp',
       'value_type', 'value'],
      dtype='object')

In [173]:
print(df.head())

  sensor_id sensor_type location     lat     lon  \
0       145       DHT22     3528  -0.286  36.067
1       145       DHT22     3528  -0.286  36.067
2       144      SDS011     3528  -0.286  36.067
3       144      SDS011     3528  -0.286  36.067
4       145       DHT22     3528  -0.286  36.067

                          timestamp   value_type value
0  2023-02-04T04:22:51.323124+00:00     humidity   100
1  2023-02-04T04:22:51.323124+00:00  temperature    12
2  2023-02-04T04:22:51.323125+00:00           P2    27
3  2023-02-04T04:22:51.323125+00:00           P1    59
4  2023-02-04T04:25:32.354784+00:00     humidity   100

Question E1: Create a new collumn 'timestamp_new' from 'timestamp' rounded off to the second

In [174]:
df['timestamp'] = pd.to_datetime(df['timestamp'], infer_datetime_format=True)
df['timestamp_new'] = df['timestamp'].dt.floor('S')

print(df)

      sensor_id sensor_type location     lat     lon  \
0           145       DHT22     3528  -0.286  36.067
1           145       DHT22     3528  -0.286  36.067
2           144      SDS011     3528  -0.286  36.067
3           144      SDS011     3528  -0.286  36.067
4           145       DHT22     3528  -0.286  36.067
...         ...         ...      ...     ...     ...
42985       145       DHT22     3528  -0.286  36.067
42986       145       DHT22     3528  -0.286  36.067
42987       145       DHT22     3528  -0.286  36.067
42988       144      SDS011     3528  -0.286  36.067
42989       144      SDS011     3528  -0.286  36.067

                             timestamp   value_type value  \
0     2023-02-04 04:22:51.323124+00:00     humidity   100
1     2023-02-04 04:22:51.323124+00:00  temperature    12
2     2023-02-04 04:22:51.323125+00:00           P2    27
3     2023-02-04 04:22:51.323125+00:00           P1    59
4     2023-02-04 04:25:32.354784+00:00     humidity   100
...                                ...          ...   ...
42985 2023-02-24 07:51:55.687329+00:00  temperature    27
42986 2023-02-24 07:54:35.530536+00:00     humidity    59
42987 2023-02-24 07:54:35.530536+00:00  temperature    27
42988 2023-02-24 07:54:35.530545+00:00           P2     0
42989 2023-02-24 07:54:35.530545+00:00           P1     0

                  timestamp_new
0     2023-02-04 04:22:51+00:00
1     2023-02-04 04:22:51+00:00
2     2023-02-04 04:22:51+00:00
3     2023-02-04 04:22:51+00:00
4     2023-02-04 04:25:32+00:00
...                         ...
42985 2023-02-24 07:51:55+00:00
42986 2023-02-24 07:54:35+00:00
42987 2023-02-24 07:54:35+00:00
42988 2023-02-24 07:54:35+00:00
42989 2023-02-24 07:54:35+00:00

[42990 rows x 9 columns]

In [175]:
df.to_csv('mydata.csv', index=False)

Question E2: Split the dataframe based on the 'value_type' collumn

In [176]:
grouped = df.groupby(df.value_type) 
df_temperature = grouped.get_group("temperature") 
df_humidity = grouped.get_group("humidity") 
df_P1 = grouped.get_group("P1") 
df_P2 = grouped.get_group("P2") 
print(df_temperature.head())

   sensor_id sensor_type location     lat     lon  \
1        145       DHT22     3528  -0.286  36.067
5        145       DHT22     3528  -0.286  36.067
11       145       DHT22     3528  -0.286  36.067
13       145       DHT22     3528  -0.286  36.067
17       145       DHT22     3528  -0.286  36.067

                          timestamp   value_type value  \
1  2023-02-04 04:22:51.323124+00:00  temperature    12
5  2023-02-04 04:25:32.354784+00:00  temperature    11
11 2023-02-04 04:28:12.716734+00:00  temperature    12
13 2023-02-04 04:30:52.437513+00:00  temperature    12
17 2023-02-04 04:33:32.677578+00:00  temperature    12

               timestamp_new
1  2023-02-04 04:22:51+00:00
5  2023-02-04 04:25:32+00:00
11 2023-02-04 04:28:12+00:00
13 2023-02-04 04:30:52+00:00
17 2023-02-04 04:33:32+00:00

Question E3: Find the mean, mode and median of the humidity, temperature, P1 and P2 values

In [177]:
# convert value column to numeric data type
df_temperature['value'] = pd.to_numeric(df_temperature['value'])

# compute median of value column
median_temp = df_temperature['value'].median()
mode_temp = df_temperature['value'].mode()[0]
mean_temp = df_temperature['value'].mean()
print(median_temp)
print(mode_temp)
print(mean_temp)

22.0
14
22.35287548855388

C:\Users\HP\AppData\Local\Temp\ipykernel_6388\1716649491.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_temperature['value'] = pd.to_numeric(df_temperature['value'])

In [178]:
# convert value column to numeric data type
df_humidity['value'] = pd.to_numeric(df_humidity['value'])

# compute median of value column
median_humidity = df_humidity['value'].median()
mode_humidity = df_humidity['value'].mode()[0]
mean_humidity = df_humidity['value'].mean()
print(median_humidity)
print(mode_humidity)
print(mean_humidity)

61.0
100
64.31109249953471

C:\Users\HP\AppData\Local\Temp\ipykernel_6388\4102013903.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_humidity['value'] = pd.to_numeric(df_humidity['value'])

In [179]:
# convert value column to numeric data type
df_P1['value'] = pd.to_numeric(df_P1['value'])

# compute median of value column
median_P1 = df_P1['value'].median()
mode_P1 = df_P1['value'].mode()[0]
mean_P1 = df_P1['value'].mean()
print(median_P1)
print(mode_P1)
print(mean_P1)

20.0
0
28.508605451669922

C:\Users\HP\AppData\Local\Temp\ipykernel_6388\2705550663.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_P1['value'] = pd.to_numeric(df_P1['value'])

In [180]:
# convert value column to numeric data type
df_P2['value'] = pd.to_numeric(df_P2['value'])

# compute median of value column
median_P2 = df_P2['value'].median()
mode_P2 = df_P2['value'].mode()[0]
mean_P2 = df_P2['value'].mean()
print(median_P2)
print(mode_P2)
print(mean_P2)

C:\Users\HP\AppData\Local\Temp\ipykernel_6388\2827242211.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_P2['value'] = pd.to_numeric(df_P2['value'])

8.0
0
11.30142338822216

Question E4: Merge the grouped dataframes into one dataframe and save it as newdata.csv

In [181]:
df.columns

Index(['sensor_id', 'sensor_type', 'location', 'lat', 'lon', 'timestamp',
       'value_type', 'value', 'timestamp_new'],
      dtype='object')

In [182]:
df_merged = df_temperature.merge(df_humidity,how='left', on='timestamp_new',suffixes=('_temperature', '_humidity'))
df_merged = df_merged.merge(df_P1,how='left', on='timestamp_new',suffixes=('_prev', '_P1'))
df_merged = df_merged.merge(df_P2,how='left', on='timestamp_new',suffixes=('_P1', '_P2'))

print(df_merged)

      sensor_id_temperature sensor_type_temperature location_temperature  \
0                       145                   DHT22                 3528
1                       145                   DHT22                 3528
2                       145                   DHT22                 3528
3                       145                   DHT22                 3528
4                       145                   DHT22                 3528
...                     ...                     ...                  ...
10741                   145                   DHT22                 3528
10742                   145                   DHT22                 3528
10743                   145                   DHT22                 3528
10744                   145                   DHT22                 3528
10745                   145                   DHT22                 3528

      lat_temperature lon_temperature            timestamp_temperature  \
0              -0.286          36.067 2023-02-04 04:22:51.323124+00:00
1              -0.286          36.067 2023-02-04 04:25:32.354784+00:00
2              -0.286          36.067 2023-02-04 04:28:12.716734+00:00
3              -0.286          36.067 2023-02-04 04:30:52.437513+00:00
4              -0.286          36.067 2023-02-04 04:33:32.677578+00:00
...               ...             ...                              ...
10741          -0.286          36.067 2023-02-24 07:43:55.358126+00:00
10742          -0.286          36.067 2023-02-24 07:46:35.195100+00:00
10743          -0.286          36.067 2023-02-24 07:49:15.756956+00:00
10744          -0.286          36.067 2023-02-24 07:51:55.687329+00:00
10745          -0.286          36.067 2023-02-24 07:54:35.530536+00:00

      value_type_temperature  value_temperature             timestamp_new  \
0                temperature                 12 2023-02-04 04:22:51+00:00
1                temperature                 11 2023-02-04 04:25:32+00:00
2                temperature                 12 2023-02-04 04:28:12+00:00
3                temperature                 12 2023-02-04 04:30:52+00:00
4                temperature                 12 2023-02-04 04:33:32+00:00
...                      ...                ...                       ...
10741            temperature                 26 2023-02-24 07:43:55+00:00
10742            temperature                 26 2023-02-24 07:46:35+00:00
10743            temperature                 26 2023-02-24 07:49:15+00:00
10744            temperature                 27 2023-02-24 07:51:55+00:00
10745            temperature                 27 2023-02-24 07:54:35+00:00

      sensor_id_humidity  ... value_type_P1 value_P1 sensor_id_P2  \
0                    145  ...            P1     59.0          144
1                    145  ...            P1     51.0          144
2                    145  ...            P1     56.0          144
3                    145  ...            P1     56.0          144
4                    145  ...            P1    117.0          144
...                  ...  ...           ...      ...          ...
10741                145  ...            P1      0.0          144
10742                145  ...            P1      7.0          144
10743                145  ...            P1      1.0          144
10744                145  ...            P1      0.0          144
10745                145  ...            P1      0.0          144

      sensor_type_P2 location_P2  lat_P2  lon_P2  \
0             SDS011        3528  -0.286  36.067
1             SDS011        3528  -0.286  36.067
2             SDS011        3528  -0.286  36.067
3             SDS011        3528  -0.286  36.067
4             SDS011        3528  -0.286  36.067
...              ...         ...     ...     ...
10741         SDS011        3528  -0.286  36.067
10742         SDS011        3528  -0.286  36.067
10743         SDS011        3528  -0.286  36.067
10744         SDS011        3528  -0.286  36.067
10745         SDS011        3528  -0.286  36.067

                          timestamp_P2 value_type_P2 value_P2
0     2023-02-04 04:22:51.323125+00:00            P2     27.0
1     2023-02-04 04:25:32.355326+00:00            P2     27.0
2     2023-02-04 04:28:12.715838+00:00            P2     23.0
3     2023-02-04 04:30:52.437520+00:00            P2     25.0
4     2023-02-04 04:33:32.678818+00:00            P2     31.0
...                                ...           ...      ...
10741 2023-02-24 07:43:55.409324+00:00            P2      0.0
10742 2023-02-24 07:46:35.195110+00:00            P2      7.0
10743 2023-02-24 07:49:15.757782+00:00            P2      1.0
10744 2023-02-24 07:51:55.687147+00:00            P2      0.0
10745 2023-02-24 07:54:35.530545+00:00            P2      0.0

[10746 rows x 33 columns]

In [183]:
df_merged.to_csv('newdata.csv', index=False)

Question E5: Open the new data file and select only 'timestamp_new','value_temperature','value_humidity','value_P1' and 'value_P2' collunms

In [184]:
data = pd.read_csv('newdata.csv',usecols=['timestamp_new','value_temperature','value_humidity','value_P1','value_P2'])
data

,value_temperature,timestamp_new,value_humidity,value_P1,value_P2
0,12,2023-02-04 04:22:51+00:00,100,59.0,27.0
1,11,2023-02-04 04:25:32+00:00,100,51.0,27.0
2,12,2023-02-04 04:28:12+00:00,100,56.0,23.0
3,12,2023-02-04 04:30:52+00:00,100,56.0,25.0
4,12,2023-02-04 04:33:32+00:00,100,117.0,31.0
...,...,...,...,...,...
10741,26,2023-02-24 07:43:55+00:00,60,0.0,0.0
10742,26,2023-02-24 07:46:35+00:00,60,7.0,7.0
10743,26,2023-02-24 07:49:15+00:00,59,1.0,1.0
10744,27,2023-02-24 07:51:55+00:00,59,0.0,0.0
10745,27,2023-02-24 07:54:35+00:00,59,0.0,0.0

Question E6: Replace the missing values in collumns 'value_P1' and 'value_P2' with the mean of the same collumns

In [185]:
missing_values = pd.isnull(data['value_P1']) 
data[missing_values]

,value_temperature,timestamp_new,value_humidity,value_P1,value_P2
7,13,2023-02-04 04:41:32+00:00,100,NaN,NaN
47,20,2023-02-04 06:28:18+00:00,83,NaN,NaN
49,21,2023-02-04 06:33:39+00:00,81,NaN,NaN
85,27,2023-02-04 08:09:43+00:00,46,NaN,NaN
90,29,2023-02-04 08:23:06+00:00,43,NaN,NaN
...,...,...,...,...,...
10710,20,2023-02-24 06:21:11+00:00,84,NaN,NaN
10714,21,2023-02-24 06:31:51+00:00,82,NaN,NaN
10716,21,2023-02-24 06:37:12+00:00,76,NaN,NaN
10727,23,2023-02-24 07:06:34+00:00,71,NaN,NaN
10734,25,2023-02-24 07:25:13+00:00,68,NaN,NaN

In [186]:
data['value_P1'].fillna(data['value_P1'].mean(), inplace=True) 
data['value_P2'].fillna(data['value_P2'].mean(), inplace=True)

In [187]:
missing_values = pd.isnull(data['value_P2'])

In [188]:
data[missing_values]

Empty DataFrame
Columns: [value_temperature, timestamp_new, value_humidity, value_P1, value_P2]
Index: []

Question E7: Compute the correlations between temperature and humidity; P1 and P2

In [189]:
corr_temp_humidity = data['value_temperature'].corr(data['value_humidity'])

print ("Correlation between temparature and humidity",corr_temp_humidity)

Correlation between temparature and humidity -0.9028239849182673

In [190]:
corr_p1_p2 = data['value_P1'].corr(data['value_P2'])

print ("Correlation between P1 and P2",corr_p1_p2)

Correlation between P1 and P2 0.8734801215476381

Question E8: Create a new dataframe comprising of the average values of the variables by day

In [191]:
data['timestamp_new'] = pd.to_datetime(df['timestamp_new'], infer_datetime_format=True) 
data['timestamp_new'] = df['timestamp_new'].dt.floor('D')  

means_feb = data.groupby('timestamp_new').mean() 
means_feb

,value_temperature,value_humidity,value_P1,value_P2
timestamp_new,,,,
2023-02-04 00:00:00+00:00,22.312783,62.269231,22.261655,7.998801
2023-02-05 00:00:00+00:00,22.171759,68.225926,28.545665,12.723529
2023-02-06 00:00:00+00:00,22.223562,61.916048,35.875720,13.835411
2023-02-07 00:00:00+00:00,22.747227,65.021719,33.383922,13.310616
2023-02-08 00:00:00+00:00,22.932282,62.166976,26.097481,9.938813
2023-02-09 00:00:00+00:00,18.371345,74.260234,2.217649,0.977087

Question E9: Download the dataset "Nakuru Sensor Data for November 2021 from https://open.africa/dataset/sensorsafrica-airquality-archive-nakuru/resource/1f11351e-156b-4e4c-a063-b86a6ee07c4a"

Load the data into a pandas dataframe and develop a dataframe similar to what you have just done in Question no's 6 - 13 above

In [192]:
#import pandas library
import pandas as pd

#load data from csv file
data1 = pd.read_csv('C:/Users/HP/Desktop/DSAKigali/november_2022_sensor.csv')

#split the columns into different columns 
column_split = data1['sensor_id;sensor_type;location;lat;lon;timestamp;value_type;value'].str.split(pat=';',expand=True)
column_split.columns = ['sensor_id','sensor_type','location','lat','lon','timestamp','value_type','value']

#split the columns into different
data1=pd.concat([data1,column_split],axis=1)
data1 = data1.drop('sensor_id;sensor_type;location;lat;lon;timestamp;value_type;value',axis=1)

#question E1 create a new column
data1['timestamp'] = pd.to_datetime(data1['timestamp'], infer_datetime_format=True)
data1['timestamp_new'] = data1['timestamp'].dt.floor('S')

#question E2 split the columns into different
grouped = data1.groupby(data1.value_type) 

data1_temperature = grouped.get_group("temperature") 
data1_humidity = grouped.get_group("humidity") 
data1_P1 = grouped.get_group("P1") 
data1_P2 = grouped.get_group("P2")

#question E3 find mean mode and median
# convert value column to numeric data type
data1_temperature['value'] = pd.to_numeric(data1_temperature['value'])
data1_humidity['value'] = pd.to_numeric(data1_humidity['value'])
data1_P1['value'] = pd.to_numeric(data1_P1['value'])
data1_P2['value'] = pd.to_numeric(data1_P2['value'])


# compute median of value column
median_temp = data1_temperature['value'].median()
median_humidity = data1_humidity['value'].median()
median_P1 = data1_P1['value'].median()
median_P2 = data1_P2['value'].median()

# compute mode of value column
mode_temp = data1_temperature['value'].mode()[0]
mode_humidity = data1_humidity['value'].mode()[0]
mode_P1 = data1_P1['value'].mode()[0]
mode_P2 = data1_P2['value'].mode()[0]

# compute mean of value column
mean_temp = data1_temperature['value'].mean()
mean_humidity = data1_humidity['value'].mean()
mean_P1 = data1_P1['value'].mean()
mean_P2 = data1_P2['value'].mean()

#question E4 merge the grouped data frame with another
data1_merged = data1_temperature.merge(data1_humidity,how='left', on='timestamp_new',suffixes=('_temperature', '_humidity'))
data1_merged = data1_merged.merge(data1_P1,how='left', on='timestamp_new',suffixes=('_prev', '_P1'))
data1_merged = data1_merged.merge(data1_P2,how='left', on='timestamp_new',suffixes=('_P1', '_P2'))
data1_merged.to_csv('newdata1.csv', index=False)

#question E5 open new data file 
data2 = pd.read_csv('newdata1.csv',usecols=['timestamp_new','value_temperature','value_humidity','value_P1','value_P2'])

#question E6 open new data file
missing_values = pd.isnull(data2['value_P1']) 

data2['value_P1'].fillna(data2['value_P1'].mean(), inplace=True) 
data2['value_P2'].fillna(data2['value_P2'].mean(), inplace=True) 

missing_values = pd.isnull(data2['value_P2'])

#question E7 compute the correlations 
corr_temp_humidity = data2['value_temperature'].corr(data2['value_humidity'])
corr_p1_p2 = data2['value_P1'].corr(data2['value_P2'])

#question E8 create a new dataframe comprising of the avarage 
data2['timestamp_new'] = pd.to_datetime(data1['timestamp_new'], infer_datetime_format=True) 
data2['timestamp_new'] = data1['timestamp_new'].dt.floor('D')  

means_nov = data2.groupby('timestamp_new').mean() 
means_nov

C:\Users\HP\AppData\Local\Temp\ipykernel_6388\1651276251.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1_temperature['value'] = pd.to_numeric(data1_temperature['value'])
C:\Users\HP\AppData\Local\Temp\ipykernel_6388\1651276251.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1_humidity['value'] = pd.to_numeric(data1_humidity['value'])
C:\Users\HP\AppData\Local\Temp\ipykernel_6388\1651276251.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1_P1['value'] = pd.to_numeric(data1_P1['value'])
C:\Users\HP\AppData\Local\Temp\ipykernel_6388\1651276251.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1_P2['value'] = pd.to_numeric(data1_P2['value'])

,value_temperature,value_humidity,value_P1,value_P2
timestamp_new,,,,
2022-11-25 00:00:00+00:00,19.655344,88.478364,16.462186,9.167404
2022-11-26 00:00:00+00:00,19.810835,90.645812,16.822895,9.652436

Question E10: Convert the means_feb and means_nov to numpy arrays ... and then compute the average of each collumn

Hint: The results are numpy arrays

In [193]:
feb_numpy_array = means_feb.to_numpy()
feb_average = np.mean(feb_numpy_array, axis = 0)
feb_average

array([21.79315977, 65.64335563, 24.73034846,  9.79737637])

In [194]:
nov_numpy_array = means_nov.to_numpy()
nov_average = np.mean(nov_numpy_array, axis = 0)
nov_average

array([19.73308934, 89.5620881 , 16.64254031,  9.40992022])

In [195]:
def sub():
    diff = []
    for i in range(len(nov_average)):
        result = nov_average[i] - feb_average[i]
        diff.append(result)
   
    return diff
 
# Print the result of the subtraction
difference = sub()
print(difference)

[-2.0600704229107585, 23.918732476324024, -8.087808148520839, -0.38745615804600675]